docker.enabled = true

executor {
  name = 'awsbatch'
}

aws {
  region = params.aws_region
  queue  = params.aws_batch_default_queue
  batch {
    volumes = params.aws_batch_volumes
    cliPath = params.aws_batch_cli_path
    fetchInstanceType = params.aws_batch_fetch_instance_type
    maxParallelTransfers = params.aws_batch_max_parallel_transfers
  }
}