params {

    // process resources default
    cpus = 1
    memory = 2.GB
    time = 8.h // do not change
    
    // max resources limits defaults
    max_cpus = 16
    max_memory = 120.GB
    max_time = 300.h // do not change

    // process_micro defaults
    micro_memory = 2.GB
    micro_cpus = 1

    // process_small defaults
    small_memory = 4.GB
    small_cpus = 2

    // process_medium defaults
    medium_memory = 6.GB
    medium_cpus = 4

    // process_large defaults
    large_memory = 15.GB
    large_cpus = 4

    // other parameters
    echo = false
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    maxErrors = -1
    maxRetries = 3
    maxForks = 200
    queueSize = 200

}
